#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    border: 1px solid #000;
    filter: drop-shadow(2px 4px 6px grey);
    margin-top: 5px;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .or-label{
    padding-left: 45%;
    opacity: .7;
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding-top:10px;
    padding-bottom:10px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

#login-dp .form-group input {
    text-indent: 5px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
